:root {
    --primary:#f4f56e;
    --secondary: #72e8e1;
    --tertiary: #58b3d3;
    --quinary: #418c9f;
}
*{
    font-family: 'Red Hat Display', sans-serif;
    color: var(--quinary);
}

body h1 {
    background-color: var(--quinary);
    height: 100px;
    color: var(--primary);
}
.card-header{
 background-color: var(--tertiary);
 color: var(--primary);
}
.favourable {
    background-color: green;
    color: white;
}
.moderate {
    background-color: orange;
    color: white;
}
.severe {
    background-color: red;
    color: white;
}
button {
    border: none;
}
.new-btn {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: 10px;
  background-color: var(--tertiary);
  color: var(--primary);
  list-style: none;
  box-shadow: 3px 3px var(--secondary);
  transform: translate(-1px, -1px);
  display: inline-block;
  width: 90%;
}
.days{
    background-color: var(--quinary);
}
.days-text {
    list-style: none;
    color: white;
}